.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.titulo{
  font-family: 'Rubik Dirt', cursive;
  font-family: 'Kanit';
  color: aliceblue;
}
.tituloyimg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
